.APublication__form_layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 2rem;
  row-gap: 2rem;
}

.APublication__info_box_grid_layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
