.PublicationCard__root_div {
  width: auto;
  height: auto;
  margin: 2rem 0;
  /*   padding: 1rem 2rem;
  margin: 1rem 1rem; */

  border-radius: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  overflow: hidden;
}

.PublicationCard__info_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.PublicationCard__sl_no_panel {
  width: 5%;
  border-right: solid rgb(187, 0, 125);

  background-color: antiquewhite;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 2rem;
  color: rgb(51, 51, 197);

  flex: 0 0 auto;
}

.PublicationCard__sl_no_value {
}

.PublicationCard__main_info {
  flex: 1 1 auto;
  padding: 1rem 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.PublicationCard__edit_button_group {
  width: 5%;

  background-color: #4cc9f0;

  color: #af0395;
  text-align: center;
  font-size: 2rem;

  cursor: pointer;

  flex: 0 0 auto;
  align-self: stretch;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.PublicationCard__edit_button_group:hover {
  background-color: bisque;
  color: black;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}
